<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
<!-- Use any element to open the sidenav -->
<header class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid header-container">
      <a class="navbar-brand" href="#">
        <div class="logo">
        </div>
      </a>
      <ul id="fakeUl" class="nav navbar-nav navbar-left">
        <li><span>
          <i class="fa fa-plane" aria-hidden="true"></i>
          國外旅平</span>
        </li>
        <li><span>
          <i class="fa fa-train" aria-hidden="true"></i>
          國內旅平</span>
        </li>
        <li><span>
          <i class="fa fa-motorcycle" aria-hidden="true"></i>
          機車強制
        </span></li>
        <li><span>
          <i class="fa fa-fire" aria-hidden="true"></i>
          熱門活動</span></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/CareLineMember/member/login"><button class="memberBtn form-control">會員專區</button></a></li>
      </ul>
      <button type="button" class="navbar-toggle" (click)="openNav()" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="container-fluid" style="padding:0px;">
    <div class="col-xs-12 text-cetner">
      <img class="img-responsive" src="assets/images/fakeFooter.png" alt="">
    </div>
  </div>
</footer>
<div class="my-container">
  <ngx-loading [show]="ifItsLoading()">
  </ngx-loading>
  <h1 *ngIf="ifItsLoading()" class="txtLoading">系統連線中，請耐心等待</h1>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <p>
      <span class="close hidden">&times;</span>
    </p>
    <div class="col-xs-12 text-cetner">
      <img id="modalLogo" class="img-responsive" src="assets/images/logos/modalLogo.png" alt="">
    </div>
    <div class="text-center">
      <div *ngFor="let item of AlertArr(); let i = index;">
        <p>{{item}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <button id="closebtn" class="closebtn2" (click)="cancelThisModal()">確定</button>
      </div>
    </div>
  </div>
</div>
