.titleForm h2 {
  text-transform: uppercase;
  font-size: 24px;
  color: #e84466;
  margin-bottom: 50px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  font-family: "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
  text-align: left;
  border-bottom: 1px solid #e84466;
  padding-bottom: 20px;
}

h2.formTitTxt{
  margin: 0;
  margin-bottom: 0.5em;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  font-family: "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
  text-transform: uppercase;
}

.memberFormInput.form-control.input-lg {
  width: 100%;
  height: 50px;
  margin-bottom: 8px;
  padding: 12px 15px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.paddingExtra {
  padding-bottom: 35px;
}

.txtSexuality {
  font-family: "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
  color: #808080;
  font-size: 18px;
  line-height: 1.5;
  white-space: nowrap;
}

.birthContain select.form-control {
  width: 100%!important;
}

.txtBirth {
  position: absolute;
  left: 0px;
  padding-top: 20px;
  font-family: "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
  color: #808080;
  font-size: 18px;
  line-height: 1.5;
  white-space: nowrap;
}

.birthContain .col-xs-3 {
  padding-left: 0px;
}

.birthContain {
  margin-top:0px;
}

.personalContent {
  padding: 0px;
}

.personalContentDiv .personalContent {
}

.insuredTit {
  padding-left: 20px;
  padding-right: 15px;
}

.insuredBirthEx {
  padding-right: 0px;
  padding-legt: 0px;
}

.insuredPersonalInfo {
  padding-bottom: 50px;
}

.insuredPid{
  margin-bottom: 10px;
}

#insuredOneCard{
 border-style:dotted;
}

.plusBtn {
  padding: 15px;
}

.fa-plus {
  color: white;
}

.plutBtn {
  background-color: #e84466;
  color: white;
}

.rules h2 {
  padding-left: 13%;
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
  color: #000000;
  font-size: 24px;
  font-style: normal;
  line-height: 1;
  text-rendering: optimizeSpeed;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
}

.agreement {
  color: #808080;
  min-height: 21px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  font-family: "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
  width: 95%;
  display: inline-block;
  text-align: left;
}

.square {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0 !important;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 15px;
}

.roundDiv {
  text-align: left;
  margin: 20px auto;
  height: 80px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 15px 50px;
  border: 1px solid #cccccc;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  width: 840px;
}

.goingCheckInfo {
  width: 100%;
  background-color: #e84466;
  display: inline;
  margin-bottom: 80px;
  margin-right: 15px;
}

.goingCheckInfo:disabled {
  width: 100%;
  background: #C8C8C8;
  opacity: 0.6;
  cursor: not-allowed;
  color: #000000;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #eeeeee;
  line-height:1px;
  /*height: 40px;*/
  font-size: 18px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border-color: #eeeeee;
  margin-bottom: 80px;
  margin-right: 15px;
  padding: 0px!important;
}

.goingCheckInfo:disabled:hover {
  background: #dddddd;
}

.priceHead{
  text-align: right;
  display: inline;
  padding-top: 10px;
}

.priceHead span {
  font-weight: normal;
}

.insuredPriceDivH4 span {
  color: black;
}

.priceHead h3 {
  color: #e84466;
  font-size: 32px;
  white-space: nowrap;
  display:inline;
}

.priceHead h4 {
  text-align: right;
}

.countTotal {
  background-color: #e84466;
  color: white;
}

input.memberFormInput.form-control.input-lg[disabled] {
  background-color: #eee;
  opacity: 1;
}

.addInsuredPP {
}

.addInsuredPP h4{
  padding-left: 15px;
  padding-right: 15px;
}

.addInsuredPP .addDoll {
  padding-left: 25px;
}

.addInsuredPP .addDoll i.fa-plus {
  color: black;
  font-size: 30px;
  margin-top: 45px;
}

.anan {
  margin-top: 22px;
}

.addInsuredPP i.fa-plus {
  color: black;
}

.priceHead span.pull-left {
  font-size: 20px;
}

.circleDiv {
  background-color: #ccc;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  width: 45px;;
}

.circleDiv p {
  font-size: 30px;
  color: white;
}

.insuredTit .col-xs-2 {
  padding: 0px;
}

.minusBtn {
  background-color: grey;
  color: white;
  height: 40px!important;
  padding-top: 7px;
  width: 60px;
}

.plusBtn {
  background-color: #e54a67;
  height: 40px!important;
  padding-top: 7px;
  width: 60px;
}

.plusBtn i {
  color: white!important;
}

.anan {
  max-width: 60px;
}

.kai {
  max-width: 80px;
}

.kaiD {
  position: relative;
  top: 5px;
}

.priceTotalDiv {
  border-bottom: #ccc dotted;
  padding-bottom: 5px;
  position: relative;
  top: 76px;
}

.noneTit {
  margin-bottom: 25px;
}

.insuredPriceDivH4 h4 {
  color: #e84466;
  font-size: 20px;
  font-weight:normal;
}

.insuredPriceDivH4 h4 span{
  color: #8c8c8c;
  font-size: 20px;
}

button.goingCheckInfo {
  color: white;
}

.app-index .whereDgo h2 {
  margin-bottom: 10px;
}

span.formSubTxt {
  font-family: "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
  color: #808080;
  font-size: 15px;
  line-height: 1.5;
}

.errImg {
  position: absolute;
  top: 5px;
  padding-left: 10px;
}

.inValid {
  color: #e84466;
  font-size: 14px;
  padding: 5px;
  padding-top: 0px;
  padding-left: 0px;
  position: relative;
  top: -5px;
  float: left;
  z-index: -1;
}

.lastNameDiv {
  padding-left:0px;
}

.firstNameDiv {
  padding-right:0px;
}

.insuredContent {
  padding: 0px 25px;
}

@media screen and (max-width: 1200px) {
  .rules h2, .rules .agreement {
    font-size: 15px;
  }
  #insuredOneCard {
    height: 410px;
  }
  .roundDiv {
    width: 100%;
    height:100%;
  }

  .agreement {
    font-size: 10px;
  }
  .rules h2 {
    padding-left: 0px;
    /*font-size: 14px;*/
  }
  .goingCheckInfo {
    width: 100%;
  }
  .lastNameDiv {
    padding-left:0px;
    padding-right: 0px;

  }
  .insuredContent {
    padding: 0px;
    height: 70px;
    text-align: left;
  }
}

.insuredBtnArea input {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .insuredPersonalInfo {
    margin-top: 60px;
  }
  .insuredBirthEx div{
    padding: 5px;
  }
  .insuredBirthEx .col-xs-1{
    display: none;
  }
  #insuredOneCard {
    min-height: 385px;
    padding: 15px;
  }
  .firstNameDiv {
    padding-right:0px;
    padding-left:0px;
  }
  .square {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .noneTit h5 {
    text-align: center;
  }
  .insuredPid.memberFormInput.form-control.input-lg {
    margin: 10px auto;
    position: relative;
    top: 7px;
  }
  .agreement {
    font-size: 14px!important;
    position: relative;
    left: 30px;
    top: -40px;
  }
  .birthInput {
    width:80px;
  }
  .memberFormInput.form-control.input-lg {
    margin-bottom: 7px;
  }
  .checkBoxDiv, .noChecked{
    position: relative!important;
    top: 20px!important;
    z-index: 99;
  }
  .roundDiv {
    margin-bottom: 20px;
    padding-top: 20px;
    border-radius: 30px;
    padding-left: 20px;
    padding-bottom: 0px;
    margin-top: 0px;
    min-height: 140px;
  }
  .rules h2 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
  }
}

.insuredBtnArea input {
  display: inline-block;
  width: 100px;
}

.insuredBtnArea label {
  font-family: "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
  width: 100px;
  position: relative;
  top: 0px;
  margin-right: 20px;
}

.insuredBtnArea label .widthFdsSpanTwo {
  position: relative;
  width: 100px;
  white-space: nowrap;
  top: -45px;
  margin-left: 24px;

  font-family: "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
}

.insuredBtnArea label .widthFdsSpanOne {
  position: relative;
  width: 100px;
  white-space: nowrap;
  margin-left:15px;
  top: -45px;
  font-family: "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
}

.insuredBtnArea span {
  border: none;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 400;
  padding-right: 50px;
  font-family: "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
}

.insuredBtnArea .col-xs-10 .titleSpan{
  position: relative;
  top: -20px;
  font-size: 28px;
}

div.row.memberTitle {
  margin-top: 70px;
}

.insuredBtnArea input:checked {
  background-color: #e84466;
  font-family: "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
  color: #ffffff;
}

.insuredBtnArea input:checked+span {
  border: none;
  font-family: "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
  color: #ffffff;
}

.insuredBtnArea {
  /*border-bottom: 1px solid #e84466;*/
  padding-bottom: 0px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.plusFont {
  position: relative;
  left: 98px;
  top: -42px;
  font-size: 18px;
}

.annaDiv img{
  width: 45px;
  display: block;
  float: left;
  margin-right: 10px;
}

.appendDollArea {
  position: relative;
  left: 50px;
  top: 10px;
  padding: 0px;
}

.img-grey {
  /*-webkit-filter: grayscale(100%); !* Safari 6.0 - 9.0 *!*/
  /*-moz-filter: grayscale(100%);*/
  /*-ms-filter: grayscale(100%);*/
  /*-o-filter: grayscale(100%);*/
  /*filter: gray; !* IE6-9 *!*/
  /*-webkit-filter: grayscale(1); !* Google Chrome, Safari 6+ & Opera 15+ *!*/
  /*filter: grayscale(1);*/
  background: url('../../../assets/images/dolls/ananGrey.png') no-repeat center!important;
  background-size: contain!important;
}

@media screen and (max-width:1266px) {

  .addInsuredPP {
    margin-bottom: 100px;
  }
}

#relationShipSelect {
  margin: 5px auto;
  float: left;
}

.insuredBoxAlone {
  border-bottom: 1px solid #e84466;
  width: 78%;
  display: block;
  margin: 0 auto;
  height: 5px;
}

.aggreeToUpdate {
  font-size: 18px;
}

.checkBoxDiv {
  background: url('../../../assets/images/arrowIcons/default.png');
  background-repeat: no-repeat;
  background-size: unset;
  height: 25px;
  width: 22px;
  background-position-x: -21px;
  display: inline-block;
  cursor: pointer;
  float: left;
  margin-top: 12px;
}

.checkBoxDiv.noChecked{
  background: url('../../../assets/images/arrowIcons/default.png');
  background-repeat: no-repeat;
  background-size: unset;
  height: 25px;
  width: 22px;
  background-position-x: 0px;
  display: inline-block;
  cursor: pointer;
}

.checkBoxDiv span{
  padding-left: 5px;
  white-space: nowrap;
  position: relative;
  left: 20px;
  top: -2px;
}

.inValidInput {
  border: 1px solid #e84466!important;
}

.inShowDiv {
  display: none;
}

.titleSpan {
  font-size: 30px;
}

#mobileTxtBirth {
  display: none;
  margin-bottom: 5px;
}

.mobileTxtBirth {
  font-size: 18px;
  color: grey;
  padding: 15px;
}

@media screen and (max-width: 1200px){
  .txtBirth {
    display: none;
  }
  .birthContain .col-xs-1 {
    display:none;
  }
  .birthContain .col-xs-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .birthContain .col-xs-3 {
    margin-left:2%!important;
  }
  #mobileTxtBirth {
    display: initial!important;
    margin-bottom: 0px;
  }
  .mobileTxtBirth {
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 500px){
  .titleSpan {
    white-space: nowrap;
    font-size: 20px!important;
    left: -20%;
  }
  .col-xs-12.text-center.insuredBtnArea h4 {
    white-space: nowrap;
    font-size: 18px!important;
    left: -28%;
    top: -11px;
    position: relative;
  }

  #choicesHaoNoHao {
    /*display: none;*/
  }

  #MobileChoicesHaoNoHao label {
    width: 100%;
  }
  #MobileChoicesHaoNoHao span {
    position: absolute;
    pointer-events:none!important;
    top: 18px;
    font-size: 18px;
    left: 0px;
    display: block;
    width: 100%;
  }
  /*#MobileChoicesHaoNoHao input:checked {*/
    /*background-color: #e84466;*/
  /*}*/
  /*#MobileChoicesHaoNoHao input:checked+span{*/
    /*color: white;*/
  /*}*/
  .titleForm h2 {
    margin-top: 15px;
  }
  #addInsuredAdd {
    margin-bottom: 25px;
  }
  .col-xs-2.kaiD {
    top: 50px!important;
  }
  .addInsuredPP .col-xs-3 {
    margin-top: 20px;
    width: 100%;
  }
  .addInsuredPP .col-xs-7 {
    left: 25%;
  }
  .addInsuredPP .col-xs-3 button{
    width: 100%;
  }
  .row.addInsuredPP {
    position: relative;
    top: -30px;
    margin-bottom: 0px;
  }
  .agreement {
    position: relative;
    left: 30px;
    top:-20px;
  }
  .roundDiv {
    /*height: 110px;*/
  }
  .goingCheckInfo {
    margin-bottom: 15px!important;
  }
  .paddingExtra .col-xs-4 {
    padding: 0px;
  }
  #MobileChoicesHaoNoHao .widthFdsSpanTwo{
    left: 0px;
    display: block;
    width: 100%;
  }
  .container.rules{
    position: relative;
    top: -30px;
  }
}

.pointAddPPlNum {
  margin: 15px auto;
}

@media screen and (min-width: 500px){
  .pointAddPPlNum {
    margin: 20px auto;
  }
  #MobileChoicesHaoNoHao  {
    display: none;
  }
  #MobileChoicesHaoNoHao input:checked {
    background-color: #e84466;
    color: white;
  }
}

@media screen and (max-width: 500px){
  #MobileChoicesHaoNoHao {
    position: relative;
    top: -25px;
  }
  #personalAreaPlaceForMobile .col-xs-4 {
    width: 100%;
  }
  #personalAreaPlaceForMobile .col-xs-3 {
    padding-right: 3px;
  }
  #relationShipSelect {
    width: 100%;
    position: relative;
    top: 5px;
    margin: 10px auto;
  }
  .insuredBoxAlone{
    width: 100%;
    position: relative;
    top: 50px;
  }
  .mobileSpanNeedToHide{
    display: initial!important;
    white-space: nowrap;
    position: relative;
    top: 5px;
    left: 8px;
  }
  #personalAreaPlaceForMobile img{
    display: none;
  }
  .row.addPPlMinusPlus {
    margin-top: 50px;
  }
  #haoma {
    padding-left:15px;
  }
}

.mobileSpanNeedToHide{
  display: none;
}

@media screen and (max-width: 1280px) and (min-width: 970px) {
  .col-xs-12.text-center.insuredBtnArea .col-xs-10{
    width: 85%!important;
    margin-left: 8%;
  }
  .container.soyiren h2 {
    font-size: 18px!important;
    margin-bottom: 0px!important;
  }
}

@media screen and (max-width: 1240px) {
  .agreement{
    text-align: left;
  }
}

@media screen and (max-width: 970px) and (min-width: 768px) {
  .col-xs-12.text-center.insuredBtnArea .col-xs-10{
    width:100%!important;
    margin-left: 3%!important;
  }
  #haoma {
    position:relative;
    left:-25px
  }
  .rules .col-sm-12 {
    padding-left: 5%;
  }
  .rules h2, .agreement{
    font-size:18px;
  }
  .checkBoxDiv {
    margin-bottom: 20px;
  }
  .roundDiv {
    padding: 15px 20px;
  }
  .insuredBtnArea {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  #addInsuredAdd {
    width: 63%;
    margin: 0 auto;
  }
}


@media screen and (max-width: 768px) {
  #choicesHaoNoHao {
  }

  .insuredBtnArea {
    margin-left: 2%;
  }

  .checkBoxDiv {
    margin-top: 30px;
  }

  #haoma h4 {
    font-size: 18px!important;
  }
}



@media screen and (max-width: 500px) and (min-width: 375px) {
  .checkBoxDiv, .noChecked {
   margin-top: 0px;
  }
}

@media screen and (max-width:375px) {
  .container.rules {
    display: block;
    position: relative;
    top: -28px;
  }
  .agreement {
    top: -21px;
  }
  .checkBoxDiv, .noChecked {
    position: relative !important;
    top: 45px !important;
  }
  .titleForm h2 {
    margin-top: 20px;
  }
}


@media screen and (max-width: 1100px) {
  #choicesHaoNoHao {
    width: 40%;
  }
}

@media screen and (max-width: 1025px) and (min-width: 768px) {
  #choicesHaoNoHao{
  }
  .insuredBtnArea .col-xs-10.text-left {
    width: 100%!important;
  }
  .tobeHide .col-xs-6 {
    width: 100%!important;
  }
  .form-control.goingCheckInfo {
    margin-bottom: 0px;
  }
  .col-lg-12.text-center.pid {
    z-index: -1!important;
  }
  .col-xs-12.pull-right .col-xs-3, .col-xs-12.pull-right .col-xs-5{
     padding: 1px;
   }
  .col-xs-12.pull-right .col-xs-5 {
    padding-left: 20px;
  }
  .col-xs-6.pull-right {
    padding:0px;
    padding-right: 10px;
  }
  #personalAreaPlaceForMobile .col-xs-6 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .insuredBtnArea .col-xs-10.text-left {
    left: -4%;
  }
  .form-control.minusBtn {
    width: 100%;
    height: 40px!important;
  }
  .form-control.plusBtn {
    width: 100%;
    height: 40px!important;
  }
  #personalAreaPlaceForMobile .col-xs-12 .col-xs-4{
    padding:0px;
    width: 40%;
  }
  #personalAreaPlaceForMobile .col-xs-12 .col-xs-2{
    padding:0px;
    width: 10%;
  }
}

@media screen and (max-width: 769px) and (min-width: 500px) {
  #choicesHaoNoHao{
  }
  .insuredBtnArea .col-xs-10.text-left {
    /*width: 110%!important;*/
  }
  .col-xs-12.col-sm-6 .col-xs-4 {
    padding:0px;
  }
  .tobeHide .col-xs-6 {
    width: 100%!important;
  }
  .form-control.goingCheckInfo {
    margin-bottom: 0px;
  }
  .col-lg-12.text-center.pid {
    z-index: -1!important;
  }
  .col-xs-12.pull-right .col-xs-3, .col-xs-12.pull-right .col-xs-5 {
    padding: 1px;
  }
  .col-xs-12.pull-right .col-xs-5 {
    padding-left: 20px;
  }
  .col-xs-6.pull-right {
    padding:0px;
  }
  #personalAreaPlaceForMobile .col-xs-12 .col-xs-4{
    padding:0px;
    width: 40%;
  }
  .insuredBoxAlone {
    margin-top:8%!important;
  }
  .dropDown {
    margin-right: 3%;
  }
}

/*#choicesHaoNoHao input[type=radio]:checked {*/
  /*background-color:#e84466!important;*/
/*}*/

/*#choicesHaoNoHao input:checked {*/
  /*background-color:#e84466!important;*/
/*}*/

#choicesHaoNoHao input {
  z-index:9!important;
  position: absolute!important;
  top: -58px;
  background-color: transparent;
}

#choicesHaoNoHao span {
  pointer-events: none!important;
  z-index:10!important;
  position: absolute!important;
  color: black;
}

@media screen and (min-width:1100px) {
  #choicesHaoNoHao {
    width: 50%;
  }
}

@media screen and (max-width:767px) {
  #choicesHaoNoHao {
    width: 100%;
  }
  #haoma span, #haoma h4 {
    left:20%;
  }
}

@media screen and (max-width: 414px) {
  #choicesHaoNoHao {
    width: 139%;
    position: relative;
    left: 16%;
  }
}

@media screen and (min-width: 767px) and (max-width: 990px) {
  #choicesHaoNoHao{
    width: 80%;
    position: relative;
    top: -84px;
    right: -53%;
  }
  #haoma span, #haoma h4 {
    left:-115%;
  }
}

#choiceOne {

}

#choiceTwo {

}

#choiceMobileOne{

}

#choiceMobileTwo{

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000!important; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 1000%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 10%;
}

.modal button{
  width: 80px;
  border-radius: 5px;
  margin: 30px 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  top: 40px!important;
}

@media screen and (max-width:414px) {
  .modal-content {
    top: 40%;
  }
}

@media screen and (max-width:770px) {
  #aggreeToUpdate {
    top: -15px;
    position:relative;
  }
}

.modal ul {
  list-style: none;
}

.modal ul li p {
  font-size: 18px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalLogo {
  margin: 0px auto;
  width: 200px;
  margin-bottom: 40px;
}

.inputRadioChecked {
  background-color: #e84466!important;
  color: white;
}
.inputRadioCheckedTxt {
  color:white!important;
}

@media screen and (max-width: 375px) {
  .panel-group .fa-chevron-circle-down {
    top: 30px!important;
  }
}

@media screen and (max-width: 770px) and (min-width: 575px) {
  .paddingExtra.personalContent .col-sm-6, .row.personalContentDiv .col-sm-6{
    min-width: 100%!important;
  }
  #choicesHaoNoHao {
    width: 100%;
  }
  #choiceOne {
    left: 0%;
  }
  #choiceTwo {
    left: 55%;
  }
  #haoma {
    position: relative;
    left: -37%;
  }
  .firstNameDiv {
    padding-left: 0px;
  }
  .insuredBoxAlone {
    margin-top: 15%;
  }
  #personalAreaPlaceForMobile .col-xs-12 {
  }
  .firstColPArea {
    padding-top: 40px!important;
  }
  #personalAreaPlaceForMobile .col-xs-12 .col-xs-4{
    padding:0px;
    width: 100%;
  }
  .roundDiv.text-center {
    margin-top: 10px;
  }
  .agreement {
    width: 90%!important;
  }
}

.firstColPArea {
  padding-top: 70px;
}

.col-xs-12.firstColPArea .col-xs-4 {
  padding-left: 0px;
  padding-right: 0px;
}

#rule1 {
  padding-left:0px;
}

@media screen and (max-width: 1200px){
  #rule1 {
    padding-left: 10%;
  }
  #mobileTxtBirth {
    padding-left: 0px;
    padding-right: 0px;
  }
  #personalAreaPlaceForMobile #mobileTxtBirth {
    padding-left: 15px;
  }
  .col-sm-6.birthContain .col-xs-5, .col-xs-12.pull-right.birthContain {
    padding-left: 0px;
    padding-right: 0px;
  }
  #specialBirthColxs.col-xs-3{
    margin-left: 4%!important;
  }
}

.dropDown {
  position: absolute;
  top: 13px;
  left: 75%;
  color: #ddd;
  pointer-events:none!important;
}

button.form-control.btn-sm {
  display: block;
  width: 30%;
  float: right;
  margin-right: 10%;
}

button.form-control.btn-sm span{
  padding-right: 0px;
  white-space: nowrap;
}

@media screen and (max-width: 1110px) {
  #changeSizeOneOne {
    width: 100%;
  }
  button.form-control.btn-sm {
    margin-right: 15%;
  }
}
@media screen and (max-width: 570px) {
  #haoma span {
    left: -140%;
  }
  #haoma h4 {
    left: -160%;
  }
  span.formSubTxt{
    text-align:center;
  }
}

@media screen and (max-width: 375px) and (min-width: 360px){
  #haoma span {
    left: -250%;
  }
  #haoma h4 {
    left: -285%;
  }
}

@-moz-document url-prefix() {
  .col-xs-12 {
    /*padding-left: 0px!important;*/
    /*padding-right: 0px!important;*/
  }
}

#addInsuredAdd button {
  min-width: 90px!important;
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  #haoma span {
    left: -250%!important;
  }
  #haoma h4 {
    left: -337%!important;
  }
}

.ananDivImg {
  background: url('../../../assets/images/dolls/anan.png') no-repeat center;
  background-repeat: no-repeat;
  height: 65px;
  width: 45px;
  background-position-x: 0px;
  background-size: contain;
  position: relative;
  top: -5px;
}

.annaDiv {
  max-width: 50px;
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 375px) {
  #rule1 {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .errImg {
    display:none;
  }
}

@media screen and (max-width: 420px) and (min-width:410px) {
  #haoma h4 {
    left: -183%;
  }
}

@media screen and (max-width: 500px) {
  #rule1 {
    padding-left: 0px!important;
  }
}

.form-control.goingCheckInfo.specilAlreadiRead:hover {
  background: #767676!important;
}