<div class="row memberTitle">
  <div class="app-index container">
    <div class="whereDgo col-lg-12 text-center">
      <h2>要/被保險人資訊</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="container-fluid insuredContent" style="margin: 0px 6%;">
    <div class="col-lg-12 text-center">
      <div class="titleForm">
        <h2>要保人</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="col-xs-12 text-center paddingExtra personalContent">
      <div class="col-xs-12 text-left">
        <div class="col-sm-6">
          <span class="formSubTxt">請填寫中文姓名，以保障您的權益</span>
        </div>
        <div class="col-sm-6">
            <input required maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="memberFormInput form-control input-lg emailInput" [(ngModel)]="email" #emailElm="ngModel" (change)="emailChange(email)" type="text" placeholder="電子信箱 *" [disabled]="checkEmailDis">
            <span class="pull-right"><img  *ngIf="emailElm.touched && !emailElm.valid" class="errImg" src="assets/images/dolls/err.png" alt=""></span>
          <div class="inValid" *ngIf="emailElm.touched && !emailElm.valid">email格式不正確。</div>
        </div>
      </div>

      <div class="col-xs-12 text-left">
        <div class="col-xs-12 col-sm-6">
        </div>
        <div class="col-sm-6">
          <div class="col-sm-6 lastNameDiv">
            <input required maxlength="10" (change)="changedData()" class="memberFormInput form-control"  [(ngModel)]="lastName" #lastNameEl="ngModel"  type="text" placeholder="姓" [disabled]="checkLastNameDis">
            <div class="inValid" *ngIf="lastNameEl.touched && !lastNameEl.valid || lastNameEl.touched && !lastNameEl.valid">姓不正確。</div>
          </div>
          <div class="col-sm-6 firstNameDiv" >
            <input required maxlength="10"  (change)="changedData()" class="pull-left memberFormInput form-control" [(ngModel)]="firstName" #firstNameEl="ngModel" type="text" placeholder="名" [disabled]="checkFirstNameDis">
            <span class="pull-right"><img  *ngIf="lastNameEl.touched && !lastNameEl.valid || firstNameEl.touched && !firstNameEl.valid" class="errImg" src="assets/images/dolls/err.png" alt=""></span>
            <div class="inValid" *ngIf="firstNameEl.touched && !firstNameEl.valid">名不正確。</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 text-center">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <input maxlength="10"  (change)="changedData()"  style="text-transform:uppercase" class="memberFormInput form-control input-lg" [(ngModel)]="pid" #pidEl="ngModel" type="text" placeholder="身分證字號*" [disabled]="checkPidDis">
          <span class="pull-right"><img  *ngIf="pidCheck(pidEl.value)" class="errImg" src="assets/images/dolls/err.png" alt=""></span>
          <div class="inValid" *ngIf="pidCheck(pidEl.value)">身分證格式不正確。</div>
        </div>
      </div>

      <div class="col-xs-12 text-center">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6 birthContain">
          <div class="col-xs-1" style="padding:0px;">
            <span class="pull-right txtBirth" style="padding-top:15px;">生日</span>
          </div>
          <div class="col-xs-5">
            <select required name="" id="" [(ngModel)]="pBirthYear"  (change)="changedData()" #birthdayYEl="ngModel" class="form-control js-example-basic-single" [disabled]="checkBDay">
              <option value="">年</option>
              <option *ngFor="let year of applicantSelectListYear" value="{{year}}" selected>{{year}}</option>
            </select>
          </div>
          <div class="col-xs-3">
            <select required name="" id="" [(ngModel)]="pBirthMonth"  (change)="changedData()"  #birthdayMEl="ngModel" class="form-control js-example-basic-single" [disabled]="checkBDay">
              <option value="">月</option>
              <option *ngFor="let month of birthdayMonths" value="{{month}}" selected>{{month}}</option>
            </select>
          </div>
          <div class="col-xs-3" style="padding-right:0px;">
            <select required name="" id="" [(ngModel)]="pBirthDay"  (change)="changedData()" #birthdayDEl="ngModel" class="form-control js-example-basic-single" [disabled]="checkBDay">
              <option value="">日</option>
              <option *ngFor="let day of birthdayDays" value="{{day}}" selected>{{day}}</option>
            </select>
          </div>
          <!--checkBirthday(birthdayYEl.value, birthdayMEl.value, birthdayDEl.value)-->
          <span class="pull-right"><img  *ngIf="birthdayYEl.touched && !birthdayYEl.valid && birthdayMEl.touched && !birthdayMEl.valid &&  birthdayDEl.touched && !birthdayDEl.valid" class="errImg" src="assets/images/dolls/err.png" alt=""></span>
          <div class="inValid" *ngIf="birthdayYEl.touched && !birthdayYEl.valid && birthdayMEl.touched && !birthdayMEl.valid &&  birthdayDEl.touched && !birthdayDEl.valid">生日不正確。</div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-6"></div>
        <div class="col-xs-6">
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <hr style="border-bottom: 1px solid #e84466;">
    </div>
  </div>
</div>
<div class="row personalContentDiv">
  <div class="container personalContent">
    <div class="col-lg-12 text-center paddingExtra">

      <div class="col-lg-12 text-left">
        <div class="col-xs-12 col-sm-6">
          <h2 class="formTitTxt">聯絡資料</h2>
          <span class="formSubTxt">請填入正確地址，以利保單與活動贈品寄送</span>
        </div>
        <div class="col-xs-12 col-sm-6">
          <input required maxlength="10" type="number" class="memberFormInput form-control input-lg" [(ngModel)]="Mobile" #MobileEl="ngModel" value="" placeholder="行動電話 *">
          <span class="pull-right"><img  *ngIf="MobileEl.touched && !MobileEl.valid" class="errImg" src="assets/images/dolls/err.png" alt=""></span>
          <div class="inValid" *ngIf="MobileEl.touched && !MobileEl.valid">行動電話不正確。</div>
        </div>
      </div>

      <div class="col-lg-12 text-center">
        <div class="col-xs-12 col-sm-6">
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="col-xs-4" style="padding-left:0px;">
            <select class="form-control js-example-basic-single" [(ngModel)]="selectedCity"  #birthdayCityEl="ngModel" (change)="toLoadArea(item)">
              <option value="0">都市</option>
                <option *ngFor="let item of cityList; let i = index;" [ngValue]="item.id">
                  {{item.name}}
                </option>
            </select>
          </div>
          <div class="col-xs-4">
            <select [disabled]="selectedCity == ''" [(ngModel)]="selectedDistrict" #birthdayDistrictEl="ngModel" (change)="toZipCode(birthdayDistrictEl)" class="form-control js-example-basic-single">
              <option value="0">區</option>
              <option *ngFor="let item of filteredArea; let i = index;" [ngValue]="item.id" data-value="{{item.zipCode}}">
                {{item.name}}
              </option>
            </select>
          </div>
          <div class="col-xs-4" style="padding-right:0px;">
            <input placeholder="郵遞區號" [(ngModel)]="areaZipCode" class="form-control" disabled />
          </div>
          <span class="pull-right"><img  *ngIf="birthdayCityEl.touched && birthdayDistrictEl.touched && checkCityArea(birthdayCityEl.value, birthdayDistrictEl.value)" class="errImg" src="assets/images/dolls/err.png" alt=""></span>
          <div class="inValid" *ngIf="birthdayCityEl.touched && birthdayDistrictEl.touched && checkCityArea(birthdayCityEl.value, birthdayDistrictEl.value)">縣市未填。</div>
        </div>
      </div>

      <div class="col-lg-12 text-center" style="margin-top:12px;">
        <div class="col-xs-12 col-sm-6"></div>
        <div class="col-xs-12 col-sm-6">
          <input class="memberFormInput form-control input-lg" [(ngModel)]="addr" #addrEl="ngModel" type="text" placeholder="地址 *" value="凱選路中正街一號">
          <span class="pull-right"><img  *ngIf="addrEl.touched && addrCheck(addrEl.value)" class="errImg" src="assets/images/dolls/err.png" alt=""></span>
          <div class="inValid" *ngIf="addrEl.touched && addrCheck(addrEl.value)">住址未填。</div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row" id="addInsuredAdd">
  <div class="container-fluid insuredContent" style="margin: 0px 6%;">
    <div class="col-xs-12 text-center">
      <div class="titleForm">
        <h2>被保險人</h2>
      </div>
      <div class="col-xs-12 text-center insuredBtnArea">
        <div class="col-xs-12 text-center">
          <div class="col-xs-2"></div>
          <div class="col-xs-8 text-left">
            <div class="pull-left">
              <span class="titleSpan" style="padding-right:0px;font-size:30px;">需要為您的同行旅伴加保嗎？</span>
              <h4 style="color:#e84466;">*提醒您，購買保險需有血緣/婚姻關係喔</h4>
            </div>
            <div class="pull-right">
              <label>
                <input name="withFds" type="radio" class="form-control btn-sm">
                <span class="widthFdsSpanOne" (click)="noGoingWithFds()">先不用</span>
              </label>
              <label>
                <input name="withFds" type="radio" class="form-control btn-sm">
                <span class="widthFdsSpanTwo" (click)="GoingWithFds()">好啊</span>
              </label>
            </div>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="toGoWithYourFdsClick">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-10">
        <select name="" (change)="personalSelectChange()" id="relationShipSelect" class="form-control" [(ngModel)]="personalInfoSelect">
          <option [ngValue]="item.value" *ngFor="let item of relationship;let i = index;">{{item.text}}</option>
        </select>
      </div>
      <div class="insuredBoxAlone"></div>
    </div>

    <div class="col-xs-12">
      <div class="col-xs-12" style="padding-top: 20px;">
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
          <h2 class="formTitTxt">
            個人資料
          </h2>
          <span class="formSubTxt">請填寫中文姓名，方便保險作業</span>
        </div>
        <div class="col-xs-4">
          <div class="col-xs-6 pull-right">
            <input type="text" placeholder="姓" [(ngModel)]="applicantAloneLastName" class="form-control" [disabled]="applicantAloneLockInput">
          </div>
          <div class="col-xs-6 pull-right">
            <input type="text" placeholder="名" [(ngModel)]="applicantAloneFirstName" class="form-control" [disabled]="applicantAloneLockInput">
          </div>

          <div class="col-xs-12 pull-right">
            <input type="text" placeholder="請輸入身分證" [(ngModel)]="applicantAlonePid" class="form-control" [disabled]="applicantAloneLockInput">
          </div>

          <div class="col-xs-12 pull-right">
            <div class="col-xs-1" style="padding:0px;">
              <span class="pull-right txtBirth" style="padding-top:15px;">生日</span>
            </div>
            <div class="col-xs-5">
              <select name="" id="" [(ngModel)]="applicantAloneBirthYear"  (change)="changedData()" #birthdayYAE="ngModel" class="form-control js-example-basic-single" [disabled]="applicantAloneLockInput">
                <option value="">年</option>
                <option *ngFor="let year of birthdayYears" value="{{year}}" selected>{{year}}</option>
              </select>
            </div>
            <div class="col-xs-3">
              <select name="" id="" [(ngModel)]="applicantAloneBirthMonth"  (change)="changedData()"  #birthdayYAM="ngModel" class="form-control js-example-basic-single" [disabled]="applicantAloneLockInput">
                <option value="">月</option>
                <option *ngFor="let month of birthdayMonths" value="{{month}}" selected>{{month}}</option>
              </select>
            </div>
            <div class="col-xs-3" style="padding-right:0px;">
              <select name="" id="" [(ngModel)]="applicantAloneBirthDay"  (change)="changedData()" #birthdayYAD="ngModel" class="form-control js-example-basic-single" [disabled]="applicantAloneLockInput">
                <option value="">日</option>
                <option *ngFor="let day of birthdayDays" value="{{day}}" selected>{{day}}</option>
              </select>
            </div>
            <span class="pull-right"><img  *ngIf="birthdayYAE.touched && !birthdayYAE.valid && birthdayMEl.touched && !birthdayMEl.valid &&  birthdayDEl.touched && !birthdayDEl.valid" class="errImg" src="assets/images/dolls/err.png" alt=""></span>
            <div class="inValid" *ngIf="birthdayYAE.touched && !birthdayYAE.valid && birthdayMEl.touched && !birthdayMEl.valid &&  birthdayDEl.touched && !birthdayDEl.valid">生日不正確。</div>
          </div>

        </div>
        <div class="col-xs-2"></div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="noGoWithYourFds">
<div class="row addInsuredPP">
  <div class="container">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <h4>選擇加保人數</h4>
      <div class="col-xs-2 kaiD ">
        <div>
          <img src="assets/images/dolls/kai.png" alt="" class="kai img-responsive">
        </div>
        <span class="plusFont">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </span>
      </div>
      <div class="col-xs-7 appendDollArea">
        <div class="annaDiv">
          <img src="assets/images/dolls/anan.png" alt="" class="anan img-responsive" [ngClass]="{'img-grey': owlAnanOne}">
        </div>
        <div class="annaDiv">
          <img src="assets/images/dolls/anan.png" alt="" class="anan img-responsive" [ngClass]="{'img-grey': owlAnanTwo}">
        </div>
        <div class="annaDiv">
          <img src="assets/images/dolls/anan.png" alt="" class="anan img-responsive" [ngClass]="{'img-grey': owlAnanThree}">
        </div>
        <div class="annaDiv">
          <img src="assets/images/dolls/anan.png" alt="" class="anan img-responsive" [ngClass]="{'img-grey': owlAnanFour}">
        </div>
        <div class="annaDiv">
          <img src="assets/images/dolls/anan.png" alt="" class="anan img-responsive" [ngClass]="{'img-grey': owlAnanFifth}">
        </div>
      </div>
      <div class="col-xs-3">
        <button class="form-control minusBtn"><i class="fa fa-minus" (click)="deleteThisMinus()"></i></button>
        <button class="form-control plusBtn" (click)="createInsuredCard()"><i class="fa fa-plus"></i></button>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <h4></h4>
      <div class="col-xs-12 priceTotalDiv">
        <div class="text-center priceHead">
          <span class="pull-left">應收保費總計:</span>
          <h3>NT${{finalPrice() | number : '1.0'}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container noneTit">
    <div class="col-lg-12 text-left">
      <h5>*加保5人以上請撥 免費客服專線: 0800-234-088</h5>
    </div>
  </div>
</div>
<app-add-member></app-add-member>
</ng-container>

<div class="row">
  <div class="container-fluid insuredContent" style="">
    <div class="col-lg-12 text-center">
      <div class="titleForm">
        <h2 style="margin: 25px 17px;">受益人</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container rules">
    <div class="col-sm-12 text-left">
      <h2>受益人為法定繼承人。</h2>
      <h2>如果您想指定受益人給其他人，請致電並填寫契約變更申請書給予客服中心變更</h2>
    </div>
    <div class="col-lg-12 text-center">
      <div class="roundDiv text-center">
        <input type="text" class="square pull-left" type="checkbox" checked/>
        <div for="agree" class="agreement">我已閱讀
          <a target="_blank" href="http://careline.astralweb.com.tw/media/Contract.pdf">保單條款</a>
          ，並同意遵守保單條款的條件和除外責任，及上述各聲明事項。 我並已閱讀<a target="_blank" href="http://careline.astralweb.com.tw/obligations">保險代理人履行個人資料保護法告知義務內容</a>
          , 瞭解 貴公司蒐集處理或利用本人個人資料之目的及用途。
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="col-xs-12 text-center">
      <button routerLink="/fakeTemp" class="form-control goingCheckInfo" style="background-color:white;color:black;">上一步</button>
      <button routerLink="/confirmPage" class="form-control goingCheckInfo">下一步</button>
    </div>
  </div>
</div>
