<div class="container formContainer">
  <div class="row">
    <div class="app-index container">
      <div class="whereDgo col-lg-12 text-center">
        <h2>請確認投保資訊</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container-fluid">
      <div class="col-lg-12" style="padding:0px;">
        <div class="titleForm text-left">
          <div id="flagTop"></div>
          <h2 style="padding-top:10px; padding-bottom:20px;">要保人資訊</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row applicant">
    <div class="container">
      <div class="col-xs-12 text-left">
        <div class="col-xs-6">
          <div class="applicantDivFirst">
            <ul>
              <li>
                <span class="liInsideSpanTitle">姓名:</span>
                <span>{{applicantName}}</span>
              </li>
              <li>
                <span class="liInsideSpanTitle">身份證字號:</span>
                <span>{{applicantPid}}</span>
              </li>
              <li>
                <span class="liInsideSpanTitle">生日:</span>
                <span>{{applicantBth}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="applicantDivFirst">
            <ul>
              <li>
                <span class="liInsideSpanTitle">行動電話:</span>
                <span>{{applicantMobile}}</span>
              </li>
              <li>
                <span class="liInsideSpanTitle">地址:</span>
                <span>{{applicantAddr}}</span>
              </li>
              <li>
                <span class="liInsideSpanTitle">Email:</span>
                <span>{{applicantEmail}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="container-fluid">
    <div class="col-lg-12 text-left" style="padding:0px;">
      <div class="titleForm">
        <div id="flagInsuredPPlFlag"></div>
        <h2 id="thisFocusDiv" style="padding:10px; padding-bottom:20px;padding-left:0px;">投保內容</h2>
      </div>
    </div>
  </div>
</div>

  <div class="row" id="titleWithoutPadding" style="margin-top:5px;">
    <div class="container">
      <div class="col-lg-12 text-center">
        <div class="col-xs-2 text-left">
          <span style="font-weight:bolder">日期</span>
        </div>
        <div class="col-xs-10 text-left">
          <span style="color: #333;font-weight:normal;">{{insuredDateStart}} ~ {{insuredDateEnd}} 總共{{odPeriodDays}}天</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="titleWithoutPadding">
    <div class="container">
      <div class="col-lg-12 text-center">
        <div class="col-xs-2 text-left">
          <span style="font-weight:bolder">地點</span>
        </div>
        <div class="col-xs-10 text-left">
          <span style="color: #333;font-weight:normal;">{{insuredLocation}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="titleWithoutPadding">
    <div class="container">
      <div class="col-lg-12 text-center">
        <div class="col-xs-2 text-left">
          <span style="font-weight:bolder">目的</span>
        </div>
        <div class="col-xs-10 text-left">
          <span style="color: #333;font-weight:normal;">{{insuredPurpose}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="accordionDiv">
  <div class="container">
    <div class="col-xs-12 text-center">
      <!-- regular accordion -->
      <accordion>
        <ng-container *ngFor="let item of insuredList; let i = index;">
          <i class="fa fa-chevron-circle-down" aria-hidden="true" style="pointer-events: none;" (click)="toTriggerCloseA()"></i>
          <accordion-group class="clickAccordion" heading="{{' '+item['inLastName']+item['inFirstName']+' '+item['inPackageName']+' NT$'+item['inRate']}}">
            <div class="row packageInfo">
              <div id="specialDropUpIdDiv" class="col-xs-12 text-right" style="z-index:999;left: -8%;top:-41px;">
                <i class="fa fa-chevron-circle-up" aria-hidden="true" (click)="doSomethingOnClose()"></i>
              </div>
              <div class="container">
                <div class="col-lg-12 text-left">
                  <h2 class="touBaouTit">被保險人</h2>
                  <div class="col-sm-2 col-xs-12"></div>
                  <div id="spanBlack" class="col-sm-10 col-xs-12 text-left">
                    <div class="col-xs-6 text-left">
                      <ul>
                        <li>
                          <span class="liInsideSpanTitle">姓名:</span>
                          <span>{{item['inLastName']+item['inFirstName']}}</span>
                        </li>
                        <li>
                          <span class="liInsideSpanTitle">身份證字號:</span>
                          <span>{{item['inPid']}}</span>
                        </li>
                        <li>
                          <span class="liInsideSpanTitle">生日:</span>
                          <span>{{item['inBirthday']['year']+'年'+item['inBirthday']['month']+'月'+ item['inBirthday']['day']+'日'}}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-6 text-left">
                      <ul>
                        <li>
                          <span class="liInsideSpanTitle">與要保人關係:</span>
                          <span>{{item['inRelation']}}</span>
                        </li>
                        <li>
                          <span class="liInsideSpanTitle">受益人:</span>
                          <span>法定繼承人</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 text-center">
                  <h2 class="touBaouTit" style="border-bottom: dotted #d4d4d4; padding-bottom: 10px;">{{item['inPackageName']}}</h2>
                  <div class="col-sm-2 col-xs-12 text-left">
                    <span class="blackSpanTitle"></span>
                  </div>
                  <div class="col-sm-10 col-xs-12 text-left">
                    <ng-container *ngFor="let packagePri of item['itemList']; let x = index;">
                      <div class="col-xs-12">
                        <h4>{{packagePri['itemName']}}</h4>
                        <ul>
                          <li *ngFor="let listPri of packagePri['detailList']">
                            <span>{{listPri['longDesc']}}</span>
                          </li>
                        </ul>
                      </div>
                    </ng-container>
                    <!--<ng-container *ngFor="let package of item['inPackageInfo']['secondaryItems']; let x = index;">-->
                      <!--<div class="col-xs-12">-->
                        <!--<h4>{{package['insItemName']}}</h4>-->
                        <!--<ul>-->
                          <!--<li *ngFor="let list of package['detailTableRowList']">-->
                            <!--<span>{{list['detailName']}} {{list['detailValue']}}元</span>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</div>-->
                    <!--</ng-container>-->
                  </div>
                </div>

                <div class="col-xs-12 text-center">
                  <i class="fa fa-chevron-circle-up" aria-hidden="true" (click)="doSomethingOnClose()"></i>
                </div>
              </div>
            </div>
          </accordion-group>
        </ng-container>
      </accordion>

    </div>
  </div>
</div>

  <div class="lastCon">
    <div class="row">
      <div class="container">
        <div id="MobileUseIdForPrice" class="col-lg-12 text-center" style="padding-left:10%;">
          <span class="blackSpanTitle" style="">應收保費</span>
          <span class="priceSpanNT">NT${{odRate}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="col-lg-12 text-center imgContain">
        <div style="display:block; margin: 0 auto;">
          <div class="imageCla">
            <img src="assets/images/dolls/kaiowlTalking.png" alt="" class="img-responsive">
            <span>{{text4Activity}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="col-lg-12 text-center">
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <button class="form-control lastSubMit" (click)="getBakInfo()" id="goingCheckInfoBack" routerLink="/memberCreate" style="background-color:white;color:black;">上一步</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
        <button class="form-control lastSubMit" (click)="confirmPaying()">訂單確認，付款去</button>
        </div>
      </div>
    </div>
  </div>

</div>
