
<div class="content row">
  <div class="container">
    <div class="col-xs-12">
      <h1 class="text-center">會員登入及首次投保</h1>
    </div>
    <div class="col-xs-12 text-center">
      <img (click)="buttonTwo()" routerLink="/memberCreate" src="assets/images/fakePageImg/firstTime.png" alt="" class="img-responsive">
      <img (click)="buttonThree()" routerLink="/memberCreate" src="assets/images/fakePageImg/member.png" alt="" class="img-responsive">
    </div>
    <div class="col-xs-12 text-center">
      <button id="fbButton" class="form-control btn-sm" (click)="buttonOne()" routerLink="/memberCreate">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        Facebook快速加入
      </button>
    </div>
    <div class="col-xs-12 text-center">
      <h2 class="oneLine"></h2>
      <div class="oneLineSpan">或</div>
    </div>
    <div class="col-xs-12 text-center">
      <button id="gaButton" class="form-control btn-sm">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        電子信箱加入
      </button>
    </div>
  </div>
</div>
